body {
    background-color: #91b9bd;
}

.hrefs {
    text-decoration: none;
    color: rgb(57, 252, 39);
}

.hrefs:hover {
    text-decoration: none;
    font-weight: bold;
}

.about-item {
    background-color: hsl(240deg 7% 97% / 27%);
    padding: 2%;
}

.about-page {
    margin: 5% 2%;
}