.game-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* width: 25vw; */
  /* height: 70vh; */
  /* border: 0.5px dotted #3f3e3e; */
  border-radius: 3px;
  user-select: none;
}

 .grid-div {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-width: 27%;
  width: 400px;
  max-width: 400px;
  height: 70vh;
}

.first-pane, .python-div {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  min-width: 25%;
  width: 200px;
  max-width: 200px;
  height: 70vh;
}


.input-div {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  /* justify-content: space-around; */
}

.output-div {
  height: 20%;
  background-color: whitesmoke;
}

.output-title {
  background-color: #006b76;
}

textarea, .editor {  
font-size: 15px;   
height: 200px;
width: 116%;
}

.runButton:hover Button {
  background-color: rgb(148, 148, 148);
}

.submit-area {
  display: flex;
}

.separator{
  height: 90vh;
  border: 0.5px solid;
  color: black;
}

#question {
  margin-bottom: 6px;
  position: relative;
  /* top: 9px; */
  background-color: whitesmoke;
  color: #052529;
  width: 94%;
  padding: 2% 2%;
}