@import './styleConstants.css';

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: var(--modal-z-index); /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: black;
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 21% auto;
    padding: 20px;
    width: 31%;
    height: 30%;
    align-items: center;
    row-gap: 5%;
    justify-content: center;
    font-family: monospace;
  }
