@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
  font-family: 'Circular-Loom', "Helvetica", "Arial", sans-serif;
  width: 98vw;
  background-color: #006b76;
  color: whitesmoke;
  letter-spacing: 0.6px;
  word-spacing: 1.5px;
}

ol, ul {
  padding-left: 30px;
}

p, h3{
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300;
}

p {
  font-family: 'Circular-Loom', "Helvetica", "Arial", sans-serif;
  font-size: medium;
}

h3 {
  font-size: larger;
}

.game {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.maze-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-maze{
  color: #3f3e3e;
  /* font-weight: bolder;  */
  user-select: none;
}

.status {
  margin-bottom: 10px;
  font-size: 25px;
}

.block {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.block:focus {
  outline: none;
}

.kbd-navigation .block:focus {
  background: #ddd;
}

.grid-container {
  margin-top: 20px;
  align-self: center;
}

.score{
  margin-top: 10%;
  align-self: center;
  font-size: 30px;
}

.score-text{
  padding: 5px;
  height: max-content;
  width: 25vw;
  text-align: center;
  color: #3f3e3e;
  background-color: #EBF0F2;
  border-radius: 5px;
}

.router {
  top: 50px;
  z-index: 100;
}

.levelMap {
  /* height: 100; */
  width: 5%;
  /* position: fixed; */
  z-index: 10;
  /* top: 0;
  left: 0; */
  background-color: #e46060;
  transition:  .5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-disclaimer {
  display: none;
}

@media only screen and (max-width: 900px) {
  .game {
    display: none;
    /* flex-direction: column; */
  }

  .separator {
    display: none;
  }

  .mobile-disclaimer {
    display: block;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    /* width: 70%; */
  }
}