body {
    background-color: #91b9bd;
}

.login-content {
    max-width: 30%;
    text-align: center;
    min-width: 344px;
    width: fit-content;
    color: black;
    background-color: white;
    font-family: 'Circular-Loom', "Helvetica", "Arial", sans-serif;
    font-size: x-large;
    box-shadow: 2px 2px 2px 2px #01393fe0;
    padding: 5% 2%;
    margin: 3% auto ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.google-login {
    font-size: large;
}

.IPS_Modal {
    display: none;
}