.levelMap {
    height: 100%;
    width: 5%;
    min-width: 70px;
    position: fixed;
    z-index: auto;
    top: 75px;
    left: 0;
    background-color: #0c3336;
    color: whitesmoke;
    transition:  .5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}
