.levelMap {
    height: calc(100vh - 90px);
    width: 80px;
    min-width: 70px;
    position: relative;
    z-index: 5;
    top: 25px;
    /* left: -25px; */
    background-color: #0c3336;
    color: whitesmoke;
    transition:  .5s ease;
    overflow-x: hidden;
    padding: 20px 0;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

.levelList {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #d5d5d5;
    cursor: pointer;
}

.levelList:hover {
    background-color: #ebbb1e;
    color: black;
    font-weight: bold;
}
